/* General Layout */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--background-dark);
  margin: 0;
  padding: 0;
}

/* Header Section */
header {
  background-color: #f8f8f8;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background-image: url('./assets/images/hero-background.jpg');
  background-size: cover;
  color: white;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
}

/* Features Section */
.features {
  background-color: #f4f4f4;
  padding: 50px 20px;
}

.features h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.features .feature {
  display: inline-block;
  margin: 20px;
  width: 30%;
}

.features .feature h3 {
  font-size: 24px;
}

.features .feature p {
  font-size: 16px;
}

/* Pricing Section */
.pricing {
  background-color: #e0f7fa;
  padding: 50px 20px;
}

.pricing h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.pricing .pricing-option {
  display: inline-block;
  margin: 20px;
  width: 30%;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
}

.pricing .pricing-option h3 {
  font-size: 24px;
}

.pricing .pricing-option p {
  font-size: 16px;
}

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
}
.layoutColor{
  background-color: #333;
}
