.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(15, 17, 28);
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.book-call-btn {
  background-color:  rgb(51, 198, 171);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-call-btn:hover {
  background-color: rgba(15, 17, 28, .8);
}

.book-call-btn:active {
  transform: scale(0.98);
}
