.hero-section {
  background-color: rgb(15, 17, 28);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2em;
}
